/* main color variables */
:root {
    --first-color: #ffffff;
    --second-color: #16C172;
    --third-color: #2AFC98;
    --fourth-color: #09E85E;
}

/* remove all margins and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--first-color);
}

/* style for body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* style for header */
header {
    padding: 20px 40px;
}

/* style for header nav */
header nav  {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 24px;
  }  

  /* style for view high scores */
#view-high-scores {
    color: var(--second-color);
    padding: 20px;
}

#view-high-scores:hover {
    color: var(--third-color);
}

/* style for main */
main {
    padding: 100px 25% 0px 25%;
}

/* style for main area */
#main-area {
}

/* style for title text */
#title-text {
    font-size: 42px;
    font-weight: 700;
}

/* style for main body */
#main-body {
    font-size: 30px;
}

/* style for start quiz */
.button {
    font-size: 30px;
    font-weight: 600;
    color: var(--first-color);
    background-color: var(--second-color);
    padding: 5px 12px;
    border-radius: 7px;
    margin-top: 10px;
    display: inline-block;
}

.button:hover {
    background-color: var(--third-color);
}

.choice {
    margin-left: 10px;
    margin-right: 10px;
}

/* style for scores-list */

.score-number {
    margin-right: 10px;
}

/* style for save high score screen */
form input {
    outline-color: var(--third-color);
    padding: 2px;
    width: auto;
    font-size: 30px;
    border: 2px solid var(--second-color);
    border-radius: 7px;
  }
  
#save-score {
    border: none;
    margin-left: 40px;
}

/* media query style changes for smaller screens */
@media screen and (max-width: 980px) {
    main {
        padding: 100px 15% 0px 15%;
    }
    
}

@media screen and (max-width: 768px) {
    main {
        padding: 100px 5% 0px 5%;
    }    
}